/* FancySelector Demo CSS */

body { color: #ddd; background: #222; margin: 0; padding: 0; }
a:link { color: #ddd; text-decoration: none; cursor: pointer; }
a:hover { color: #fff; }
a:visited,a:active { color: #39f; }

h2 { margin: 0; }

/* download link/info box */
#links {
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 100;
	width: 180px;
	height: auto;
	padding: 8px;
	background: #444;
	border-radius: 0 15px 15px 0;
}

/* hide button */
#links a.hide {
	float: right;
	margin-right: 15px;
}

#links hr {
	margin-left: 0;
	width: 80%;
}

/* event info */
#links ul {
	width: 170px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#links li {
	margin: 0;
	padding-left: 5px;
}
#links li span {
	text-transform: capitalize;
	color: #7a7;
}

/* Second demo - index2.html 
  ***************************/
.demo2 { margin: 0 160px; }

.demo2 #links {
	right: 180px;
	left: auto;
	top: 20px;
	width: 120px;
	height: 60px;
	border-radius: 15px;
	padding: 10px 20px;
}

.spacer { height: 40px; }

#form1 { margin: 0 100px; }

.wrap1, .wrap2 {
	display: inline-block;
	width: 150px;
	height: 1.1em;
}